@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  word-break: break-all;
}

ul,
ol,
button {
  padding: 0;
}

html {
 scroll-behavior: smooth;
}

body,h1,h2,h3,h4,p,
ul,ol,li {
  margin: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
    --secondary:  #212121;
    --primary: #611bed;
    --green: #00A82F;
    --font-s: 18px;
    --font-l: 60px;
    --font-m: 24px;
    --border: 1px solid var(--secondary);
    --bg-color: white;
    --bg-color-opacity: rgba(255, 255, 255, 0.537);
    --font-color: black;
    --gray: rgb(89, 86, 86);
    --background-image: url(img/light-theme.png);
    --white-black: white;

}

[dark] {
    --secondary:  #ffffff;
    --primary: #0652ff;
    --bg-color: rgb(37, 35, 35);
    --bg-color-opacity: rgba(37, 35, 35, 0.387);
    --font-color: #fff;
    --border: 1px solid var(--secondary);
    --gray: rgb(167, 158, 158);
    --background-image: url(img/dark-theme.png);
    --white-black: black;

}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-weight: 300;
    overflow-x: hidden;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    font-size: var(--font-s);
    background-color: var(--bg-color);
    color: var(--font-color);
    background-image: var(--background-image);
    text-transform: uppercase;
    /* white-space: nowrap; */

 

}

button {
    background-color: var(--bg-color);
    border: none;
    cursor: pointer;
}

/* --------------------------------------------------- */

.container {
    width: 100%;
    height: 100%;
}

.section {
    padding: 80px;
    height: 100%;

}

/* header */

.frame {
    display: flex;
    justify-content: center;
    align-items:center;   
    width: 100%;
    height: 740px;
    border: var(--border);
    border-top: none;
}

.header {
    display: flex;
    border-bottom: var(--border);
    padding: 0 80px;
    height: 82px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    backdrop-filter: blur(10px);
}

.header-left,
.header-right {
    width: 50%;
    display: flex;
    align-items:center
}

.header-right {
    /* border-left: var(--border); */
    border-right: var(--border);
    justify-content: flex-end;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 36px;
    margin-right: 50px;
    z-index: 2;
}

.switch input {opacity: 0;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
}

.theme-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.theme-name::before,
.theme-name::after {
    display: block;
    position: absolute;
    font-size: 10px;
    bottom: 10px;
}

.theme-name::before {
    content: "LIGHT";
    left: -35px;
    color: var(--gray);
}

.theme-name::after {
    content: "DARK";
    right: -28px;
    color: var(--secondary);
}


.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: var(--bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--secondary);
}

  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.selected {
    color: var(--primary);
}

.burger {
    width: 36px;
    height: 36px;
    margin: 16px 16px 16px 46px;
    padding: 5px;
    transition: .5s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items:flex-end;
    display: none;
}

.burger-item {
    height: 2px;
    width: 100%;
    background-color: var(--secondary);
}

.burger .burger-item:nth-child(2) {
    width: 50%;

}

.burger:hover {
    background-color: var(--gray);
}

.burger-icon path {
    fill: var(--secondary);
    border: 1px solid var(--secondary);
}

[dark] .burger-icon path {
    fill: var(--secondary);
    border: 1px solid var(--secondary);
}

[dark] .burger {
    border: 1px solid var(--secondary);
}

.name {
    position: relative;
    margin-left: 16px;
    transition: .5s;
    color: var(--font-color);
    z-index: 2;
}

.name:hover {
    letter-spacing: 1px;
}

.name::after {
    content:"";
    width: 4px;
    height: 36px;
    display: block;
    position: absolute;
    background-color: var(--primary);
    top: -15%;
    left: -18px;
    cursor: auto;
}



/* first screen  */

.first-screen {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    align-items: flex-start;
    flex-direction: column;
    padding:0 100px;
}

.first-screen::after {
    content:"";
    position: absolute;
    display:block;
    width: 200px;
    height: 200px;
    background-color:var(--primary);
    border-radius: 50%;
    right:150px;
    top: 120px;
    filter: blur(120px);
    animation: pulse 4s alternate infinite;
}
.first-screen::before {
    content:"";
    position: absolute;
    display:block;
    width: 250px;
    height: 250px;
    background-color:var(--green);
    border-radius: 50%;
    right:200px;
    top: 270px;
    filter: blur(120px);
    animation: pulse 5s alternate infinite;
}


.primary {
    color: var(--primary);
}

.title {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 70px;
    font-weight: 700;
    text-align: left;
    display: block;
    min-width: 45%;
    position: relative;
}
 
.first-screen .title {
    font-size: 100px;

}

.first-screen .title::before {
    content: "trainee frontend developer";
    font-family: 'Sarala', sans-serif;
    font-weight: 500;
    display: block;
    font-size: var(--font-s);
    position: absolute;
    left: 0;
    top: -5px;
    text-transform: uppercase;
    animation: show 4s ease;
    animation-delay: 1.5s;
    opacity: 1;   
}

@keyframes show {
    0% {opacity: 0; top: -20px;}
    70% {opacity: 0; top: -20px;}
    100% {opacity: 1; top: -5px;}
}

.animation-wrapper {
    width: 100%;
    position: relative;
    height: 120px;  
    overflow-y: hidden;
    border: 1px solid transparent;
    top: -30px;
    left: 0;
}

.first-name {
    position: absolute;
    top: -650%;
    left: 0px;
    text-align: left;
    font-size: 100px;
    white-space: nowrap;
    font-family:  'Chakra Petch', sans-serif;
    font-weight: 700;
    animation: swiping 3.5s ease;
}

@keyframes swiping {
    0% {opacity: 0;}
    50% {opacity: 1;
        top: -13%;}
    55% {top: -143%;}
    60% {top: -143%;}
    65% {top: -270%;}
    70% {top: -270%;}
    75% {top: -395%;}
    80% {top: -395%;}
    85% {top: -523%;}
    90% {top: -523%;}
    95% {top: -650%;}
    100% {top: -650%;}
}

/* .scroll {
	width: 60px;
	height: 60px;
	border: 2px solid #333;
	border-radius: 50%;
	position: absolute;
    bottom: 50px;
    left: 50%;
	animation: down 1.5s infinite;
} 

.scroll::after {
    content: 'SCROLL TO SEE MORE';
    position: absolute;
    top: -40px;
    left: -62px;
}

.scroll::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #333;
  	    border-bottom: 2px solid #333;
		transform: rotate(-45deg);
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
} */

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
 
.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 25px;
    font-weight: 500;
}
 
.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 7s infinite linear;
}

.social-media {
    display: flex;
    flex-direction: row;
    height: 235px;
    top:auto;
    right: auto;
    width: 100%;
    padding-top: 150px;
    justify-content: flex-start;
    gap:0;
    border: none;
}

    
.link {
    font-weight: 700;
    font-size: var(--font-m);
    position: relative;
    transition: .2s;
    min-width: 200px;
    color: var(--secondary);
}

.link::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 57px;
    left: 20px;
    opacity: 0;
    transition: .2s;
}

[dark] .link::after {
    background-color:#fff;
    background-size: 15px 15px;

}

.social-media .link:nth-child(1)::after {
    background-image:url(img/github.svg);
}

.social-media .link:nth-child(2)::after {
    background-image:url(img/linkedIn.svg);
}

.social-media .link:nth-child(3)::after {
    background-image:url(img/telegram.svg);
}

.link:hover {
    transform: rotate(-3deg);
}

.link:hover.link::after {
    opacity: 1;
    bottom: 57px;
    left: -30px;
}


.desktop {
    border-top: var(--border);
    padding-top: 0;
}

.navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.navigation ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items:center;
}

.navigation li {
    border: var(--border);
    padding: 5px 10px;
    transition: .2s;
    opacity: 0.3;
 
}

.nav-link {
    color: var(--secondary);
}

.navigation li:hover {
    transform: rotate(-3deg);
    margin: 5px;
    opacity: 1;
}

.active-page {
    position: relative;
}

li.active-page {
    opacity: 1;
}

/* .active-page:after {
    content:"";
    position: absolute;
    display: block;
    background-color: var(--primary);
    width: 4px;
    height: 39px;
    bottom: -1px;
    left: -7px;
    opacity: 1;
    animation: active 1s linear;
}

@keyframes active {
    0% {
        opacity: 0;
        height: 4px;
    }
    100% {
        opacity: 1;
        height: 39px;
    }
}  */

/* desk 2 */

.desk-2 {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.description {
    position: relative;
    padding-left: 30px;
    margin: 0 20%;

}

.description::after {
    content: "";
    width: 4px;
    height: 100%;
    display: block;
    position: absolute;
    background-color: var(--primary);
    bottom: 0px;
    left: 0;
    animation: line 2s ease;
}

@keyframes line {
    0% {height: 2px; width: 100%; opacity: 0;}
    50% {height: 4px; width: 4px; opacity: 1;}
    100% {height: 100%; width: 4px;}
}

.description-text {
    text-transform: uppercase;
    word-break: normal;
    transform: translate(0px, 120%);
    opacity: 0;
    transition: .8s;
}


.description-text._active {
    opacity: 1;
    transform: translate(0px);
}

/* desk 3 */

.desk-3 {
  position: relative;
  display: flex;
  gap: 100px;
  align-items: flex-start;
  padding-top: 20%;
}

.desk-3 .title {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0;
    display: flex;
    justify-content: center;
    
}

/* .skills {
    width: 374px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
} */

.skills {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}  


.skills div {
    padding: 0.5rem;
    transition: .5s;
    opacity: 0.6;
    position: relative;
    animation: move 2s ease-in infinite alternate-reverse;
}

@keyframes move {
    0% {left: 0}
    100% {left: -5px}
}


.skills div:hover {
    padding: 1.3rem;
    opacity: 1;
}

.skills div[skill-type="language"] {
    color: var(--primary);
    animation-delay: 1s;
}

.skills div[skill-type="framework"] {
    color: var(--green);
    animation-delay: .5s;
}

.skills div[skill-type="tool"] {
    color: var(--secondary);
    animation-delay: .1s;
}

.skills div[skill-weight="1"] {
    font-size: 2rem;
    line-height: 1rem;
    animation-delay: .7s;
}

.skills div[skill-weight="2"] {
    font-size: 3rem;
    line-height: 2rem;
    animation-delay: .1s;
}

.skills div[skill-weight="3"] {
    font-size: 4rem;
    line-height: 3rem;
    
    animation-delay: .7s;
}

.skills div[skill-weight="4"] {
    font-size: 5rem;
    line-height: 4rem;
    animation-delay: .1s;
}

.skills div[skill-weight="5"] {
    font-size: 6rem;
    line-height: 5rem;
    animation-delay: .5s;
}

  

/* 
.in-progress {position: relative;}
.in-progress::before {
    content: "IN PROGRESS";
    position: absolute;
    top: -20%;
    right: 0;
}

.full {
    width: 100%;
    height: 12px;
    border: var(--border);
    background-color: transparent;
    padding: 2px;
}

._active .result {
    background-color: var(--primary);
    height: 100%;
    transition: .8s ;
} */

/* .skill._active .result {
    opacity: 1;

} */

.secondary {
    color: var(--secondary);
}


/* desk-4  cases */

.desk-4 {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.desk-4 .title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    top: 10%;
    left: 0;
    position: absolute;
    padding-left: 100px;
    
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    gap: 30px;
    padding-bottom: 50px;
    /* padding-left: 100px; */
    width: 100%;

}

.project {
    position: relative;
    width: 50%;
    height: 100px;
    overflow: hidden;
    /* cursor: pointer; */
    /* border-radius: 20px; */
    transition: .2s;
    border: var(--border);
    background-color: var(--bg-color);

}

.project:hover {
    width: 60%;
    box-shadow: 10px 20px 0px 0px var(--primary);
    transform: scale(1.1);
    z-index: 4;
    height: 250px;

}

.project:hover .project-hover {
    backdrop-filter: blur(0px);
    background-color: transparent;

}

.project:hover .button-project {
    backdrop-filter: blur(0px);
    width: 100px;
    height: 60px;
}

.project:hover .button-project::before {
    content:'WATCH DEMO';
    position: absolute;
    top: -30%;
    left: 0;
    color: var(--secondary);
}

.project-hover {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: var(--bg-color-opacity);
    backdrop-filter: blur(3px);
    transition: .3s;
}

.button-project {
    margin: 0;
    z-index: 3;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    height: 60px;
    width: 100px;
    font-size: 10px;
    transition: .5s;
    backdrop-filter: blur(1px);
    border: var(--border);
    position: absolute;
    font-weight: 300;
    color: var(--secondary);
}

.project:hover .button-project {
    background-color: var(--primary);
    color: white;
    border: none;
}

.project .button-project:hover {
    background-color: var(--secondary);
    color: var(--bg-color);
    border: none;
}

.desk-4 .screenshot {
    width: 100%;
    object-fit: cover;
}

.project:hover .screenshot {
    animation: img-move 5s linear infinite alternate;
}

@keyframes img-move {
    100% {margin-top: -50px;}
}

.desk-4 .description {
    position: absolute;
    top: 69px;
    right: 50px;
    width: 270px;
    height: 110px;
    margin: 0;
    font-size: 12px;
    border-left: var(--border);
    display: flex;
    align-items:center;
    justify-content: center;
}

.desk-4 .description::after {
    display: none;
}

/* desk 5 */
.desk-5 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 0 100px;
}

.desk-5 .title {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 10%;
    left: 0;
    position: absolute;
    
}

.current-company {
    width: 25%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.company {
    width: 100%;
}

.desk-5 .description {
    max-width: 70%;
    margin: 0 0 0 50px;
}

.desk-5 .description-text {
    margin-top: 50px;
}

.description-text li {
    white-space: nowrap;
    font-weight: 300;
}

.subtitle-1,
.subtitle-2 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}


/* desk 6 */

.desk-6 {

}

.side {
    width: 50%;
}

.desk-6 .title {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.desk-6 .description {
    width: 100%;
    margin: 0 20px;
}

/* desk 7  */

.desk-7 {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 100px;

}

.desk-7:before {
    content:"";
    position: absolute;
    display:block;
    width: 100px;
    height: 100px;
    background-color:var(--green);
    border-radius: 50%;
    right:100px;
    bottom: 100px;
    filter: blur(100px);
    animation: pulse 3s alternate infinite;
}
.desk-7::after{
    content:"";
    position: absolute;
    display:block;
    width: 150px;
    height: 150px;
    background-color:var(--primary);
    border-radius: 50%;
    right:150px;
    bottom: 150px;
    filter: blur(120px);
    animation: pulse 4s alternate infinite;
}

@keyframes pulse {
    0% {
      transform: scale(0.5);
    }
    50% {

    }
    100% {
      transform: scale(1.2);
    }
  }

.desk-7 .title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    top: 10%;
    left: 0;
    position: absolute;
    padding-left: 100px;
}

.contacts {
    display: flex;
    padding-top: 237px;
    width: 70%;
    height: 100%;
    flex-direction: column;
    padding-right: 20px;
}

.contacts-info {
    position: relative;
    font-size: var(--font-m);
    font-weight: 500;
    word-break: normal;
    opacity: 0;
    transition: .8s;
    top: 100px;
}

._active.contacts-info {
    opacity: 1;
    top: 0;
}

.button {
    display: inline-block;
    padding: 15px 40px;
    transition: .2s;
    margin: 20px 0;
    backdrop-filter: blur(1px);
    border: var(--border);
    font-family: 'Chakra Petch', sans-serif;
    color: var(--secondary);
    
}

.button:hover {
    border-radius: 3px;
    padding: 15px 50px;
    background-color: var(--secondary);
    color: var(--bg-color);
}

.copy {
    display: inline-block;
    padding: 15px;
    transition: .2s;
    margin: 20px 0;
    backdrop-filter: blur(1px);
    border: var(--border);
    font-family: 'Chakra Petch', sans-serif;
    margin-left: 10px;
    position: relative;
}
[dark] .copy {
    background-color: #fff;
}

.copy::after {
    content: 'copy email';
    font-size: var(--font-s);
    position: absolute;
    right: -110px;
    bottom: 12px;
    opacity: 0;
    font-weight: 300;
    transition: .2s;

}

.copy:hover {
    border-radius: 3px;
    padding: 15px;
    background-color: var(--secondary);
    color: var(--bg-color);
}

.copy:hover.copy::after {
    opacity: 1;
    color: var(--secondary);

}


.desk-7 .link {
    min-width: 180px;
}

.desk-7 .social-media {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 235px;
    top:auto;
    right: auto;
    width: 100%;
    justify-content: flex-start;
    gap:0;
    border: none;
    padding: 0;
    padding-top: 100px;
}

.desk-7 .buttons {
    margin-top: 25px;
}

.desk-7 .link:hover.link::after {
    opacity: 1;
    bottom: 107px;
    left: -30px;
}

.desk-7 .link::after {
    bottom: 107px;
    left: 30px;
}


/* tablet */

@media only screen

and (min-width: 768px)
and (max-width: 1199px) {

    .current-company {
        position: absolute;
        /* bottom: 0; */
        width: 20%;
        opacity: 0;
        display: none;
    }

    .desk-5 .description {
        margin: 0;
        max-width: 100%;
    }
    .description-text li {
        white-space: normal;
       list-style: circle ;
    }
    .first-screen .title {
        font-size: 75px;
    }

    .first-name {
        font-size: 75px;
        top: -480%;

    }

    .first-screen {
       padding: 0 50px;
    }

    .link {
        min-width: 170px;
    }

    .navigation ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        top: 170px;
        right: 0;
        width: auto;
        height: auto;
        left: auto;
    }

    .navigation:hover.navigation li {
        right: 7px;
        opacity: 1;
    } 

    .navigation:hover.navigation ul {
        align-items: center;
    } 

    .navigation li {
       background-image: var(--background-image);
       opacity: 1;
       position: relative;
       right: -80px;
       opacity: 0.4;
    }

    li.active-page {
        right: -80px;
        opacity: 0.4;
    }

}

/* mobile */

@media only screen

and (min-width: 320px)
and (max-width: 767px) {

}
